extends ./layout.pug

block title
  title Alejandra Canahui - Software Engineer

block meta
  meta(property='og:url' content=host)
  meta(property='og:title' content='Alejandra Canahui')
  meta(property='og:image' content=host + '/public/img/share.jpg')

block body_scripts
  script(src='public/js/lib/rellax.js')
  script(src='public/js/lib/particles.js')
  script(src='public/js/scripts/index.js')

block content
  div#main-wrapper
    // Top bar
    div.top-bar-container(data-sticky-container style='display:none;')
      div.sticky(data-sticky data-margin-top='0')
        div.top-bar.menu
          div.top-bar-left
            strong Alejandra Canahui
          div.top-bar-right

    // Hero section
    section#hero
      div.hero.row
        div.hero-content.column.small-12.small-centered.medium-8
          img(src='public/img/me.jpg')
          h1 Alejandra Canahui
          p.lead Software builder from Guatemala City. I love to think up and develop solutions that reach and help other humans.

    // About section
    section#about
      div.about.row
        div.about-content.column.small-12.small-centered.medium-8
          h2 About me
          p.lead
            | I'm a Computer Science Engineer. My experience has been with both
            | custom client projects and in-house systems development, specially in
            | the backend side. I'm commited to build quality products and to
            | learn all that is necessary to do just that.

          p.lead
            | Some of my other interests are: comedy, theater, music, books, board games and camping.

    // Skills section
    section#skills
      div.skills.row
        div.skills-content.column.small-10.small-centered
          h2 Skills
          div.row
            div.column.small-12.medium-4
              h4 Programming languages
              ul
                li NodeJS
                li JavaScript
                li PHP
                li Python
                li Java
            div.column.small-12.medium-4
              h4 Libraries
              ul
                li ExpressJS
                li Django
                li Yii
                li Cordova/Phonegap/Ionic
                li NPM/Bower
                li Gulp/Grunt
            div.column.small-12.medium-4
              h4 Databases
              ul
                li CouchDB
                li PouchDB
                li MySQL
                li Postgresql
                li Redis
          div.row
            div.column.small-12.medium-4
              h4 Additional knowledge
              ul
                li Scrum
                li Hybrid mobile apps
                li Offline-first apps
                li API development
                li Server management
                li Linux
            div.column.small-12.medium-4
              h4 Languages
              ul
                li Spanish (Native language)
                li English (Working proficiency)
            div.column.small-12.medium-4
