- var host = 'http://alejandra.canahui.com'
doctype html
html
  head
    block title

    meta(charset='utf-8')
    meta(name='author' content='Alejandra Canahui')
    meta(property='og:type' content='website')
    meta(property='og:site_name' content='Alejandra Canahui')
    meta(property='og:description' content='Software Engineer')
    meta(property='keywords' content='alejandra,canahui,software,engineer,developer,cv')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    block meta

    link(rel='shortcut icon' href='/public/img/favicon.png' type='image/png')
    link(rel='stylesheet', href='/public/css/main.css')
    block styles

    block head_scripts
  body
    block content

    script(src='public/js/lib/jquery.js')
    script(src='public/js/lib/what-input.js')
    script(src='public/js/lib/foundation.js')
    script(src='public/js/main.js')
    block body_scripts
